@import '../node_modules/booty-datepicker/less/datepicker';

// variables
@newRowButtonFontSize: 12px;
@color_table_row_hover: #F5F7D3;
@color_table_header_row: #ecf5ec;

// mixins

// apply to all tables
.booty-header-table, .booty-body-table, .booty-footer-table {
  // set margin-bottom to zero, bootstrap has this set to 20px
  table {
    margin-bottom: 0px;
  }

  .alignment-right {
    text-align: right;
  }

  .alignment-center {
    text-align: center;
  }

  td {
    vertical-align: middle !important;
  }
}

// header table
.booty-header-table {
  // sorting
  .sorted-ascending {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }

  .sorted-descending {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-top: 5px solid black;
  }

  th.sortable {
    cursor: pointer;
  }

  thead > tr {
    background-color: @color_table_header_row;
  }
}

// body table
.booty-body-table {
  overflow-y: auto;

  table.table-hover {
    tr {
      cursor: pointer;
    }

    tr:hover > td {
      background-color: @color_table_row_hover;
    }
  }

  .row-delete {
    float: left;
    > button.close {
      font-size: 20px;
      background-color: inherit;
      margin-right: 5px;
    }
  }
}

// footer table
.booty-footer-table {

  button.new-row {
    font-size: @newRowButtonFontSize;
  }
}
