.booty-header-table table,
.booty-body-table table,
.booty-footer-table table {
  margin-bottom: 0px;
}
.booty-header-table .sorted-ascending {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}
.booty-header-table .sorted-descending {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
}
.booty-body-table {
  overflow-y: auto;
}
.booty-footer-table button.new-row {
  font-size: 12px;
}
